.subtitulo {
    font-size: 14px; 
    font-weight: normal; 
    margin-top: 0; 
}
.container {
    display: flex;
    gap: 300px;
}
.direitos {
    font-size: 12px; 
    font-weight: normal; 
    margin-top: 0; 
}
.corverde {
    color:rgb(6, 180, 14);
}
.header {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #222;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}

.Logoney {
    width: 200px;
    height: auto;
}

.textos {
    display: flex;
    flex-direction: column;
}

h1, h2 {
    margin: 0;
}